* {
  padding: 0px;
  margin: 0px;
  /* scroll-behavior: smooth; */
  font-family: sans-serif;
  box-sizing: border-box;
}
body
{
  overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.head,
.page6 {
  
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  justify-content: center;

}
.bv {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .bv {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .bv {
    width: auto;
    height: 100%;
  }
}

  

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 8px 6%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
 
}
nav .logo {
  width: 150px;
  color: #ffffff;
  align-self: center;
}
nav .logo:hover {
  color: #000;
  background: transparent;
  background-color: #ffffffe3;
 width: 180px;
 padding: 15px 20px;
}
.nav-list {
  background: transparent;
  background-color: #ffffffe3;
  padding: 4px 4px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}
.svg-icon {
  display: flex;
  justify-content: center;
  text-decoration: none;
  gap: 18px;
}
.menu {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  text-indent: 40px;
  /* display: none; */
}

.page1 h1,
.page2 h1,
.page3 h1,
.page4 h1,
.page5 h1,
.page6 h1,
.page7 h1,
.page8 h1 {
  font-size: 50px;
  text-align: center;
}
.page {
  color: #ffffff;
  text-align: center;
  display: block;
}

.footer a {
  background-color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  padding: 20px 80px;
  border-radius: 5px;
  border: none;
}

a:hover {
  transition: 500ms;
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.555);
  padding: 8px 12px;
}
.footer p {
  margin-top: 50px;
}
.page2,
.page3,
.page4,
.page5,
.page7,
.page8 {
  color: #000;
  
}

.page {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 20px 40px 20px;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;

}
.page2 {
  background-image: url(./assets/Homepage-Model-Y-Global-Desktop.avif);
}
.page3 {
  background-image: url(./assets/Homepage-Model-S-Desktop-LHD-6.22.avif);
}
.page4 {
  background-image: url(./assets/Homepage-Model-X-Desktop-LHD.avif);
}
.page5 {
  background-image: url(./assets/Homepage-Powerwall-Desktop.avif);
}

.page7 {
  background-image: url(./assets/Homepage-SolarRoof-Desktop-Global.avif);
}
.page8 {
  background-image: url(./assets/Homepage-Accessories-Desktop-NA-APAC.avif);
}
/* NAV BAR CSS */

.things img {
  width: 200px;
}

.dropdown {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0px;
  margin-top: 10px;
  background: rgb(255, 255, 255);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;
  
}

.inner-box {
  padding: 100;
  display: flex;
}

@keyframes dropdown {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 450px;
    opacity: 1;
  }
}

.nav-btn:hover .dropdown {
  height: 400px;
  opacity: 1;
  animation: dropdown 0.5s linear;
}

.nav-btn {
  padding: 10px 20px;
  border-radius: 10px;
  margin: auto;
  list-style: none;
  width: fit-content;
}
.buttons a:hover{
  background: transparent;
  color: #fff;
  font-size: 20px;
  padding: 20px 60px;
  
}
.nav-btn a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.main {
  background-position: 50%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.Shop {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-nav {
  border-left: 2px solid rgba(0, 0, 0, 0.644);
}
.right-nav a {
  display: block;
  text-decoration: none;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
}
.right-nav a:hover {
  text-decoration: underline;
  font-size: 16px;
}
.things {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  top: 20px;
  text-align: center;
}

.things a {
  text-decoration: none;
  font-size: 14px;
  font-weight: lighter;
}
.things a:hover{
  padding: 3px;
  background: rgb(0, 0, 0);
  color: #fff;
}
.things p {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.things .nav-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
